
body{
    background: linear-gradient(#1A3668,#d2bddb,#e7f2c8,#1A3668);
    background-size:cover;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    text-align:center;
}

img{
    background-color:#e8e8e8;
    border: 2px solid black;
}

header{
/*    max-width:500px;*/
    width:65%;
    margin:auto auto 100px auto;
    text-align:center;
    background-image: url('17th.jpeg');
    background-size:100%;
    background-attachment:fixed;
    background-position:top;
/*    padding:20px;*/
    border: 2px solid black;
    color:white;
}
header h1{
    text-shadow:-1px -1px 2px black;
    font-size:48px;
}

header p{
    text-shadow:-1px 1px 2px black;
    font-size:32px;
}

img{
    max-height:400px;
    display:inline-block;
}

main img:hover{
    border:2px solid #b84c67;
}

.modal{
    display:none;
    position: fixed;
    z-index: 1;
/*    padding-top: 100px; */
    padding-top: 0;
    padding-bottom: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

/*    height: 100%;*/
    overflow: hidden;
    
    /*background-color: transparent black;*/
    /*background-color: black;*/
    background: rgba(0, 0, 0, 1);
    padding:0;
    margin: 0;
/*    margin-left:0;*/
    text-align:center;
/*    border:5px solid white;*/
}

.modal h1 {
    background-color:white;
    position:fixed;
    text-align:center;
    width:100%;
    bottom:0%;
}

.slide {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: auto;
    height: auto;
    max-height: 80%;
    padding:0px;
    -webkit-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.65);
    object-fit:cover;
    border:1px solid white;
}